data/*.xml
data/*-test*
data/*.zip
data/*fold*
data/*clean-train*
data/*~
data/pickled_features/*HeadlineSVO*
data/pickled_features/stanparse.pkl
venv_ir
bil
.idea
__pycache__
stanford-parser
jars
svo_stanford*
ppdb-2.0*